.list{
  margin-inline: auto;
}

.list a{
  font: 25px Arial;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
.list a:hover, a.active{
  color:blue;
  text-decoration: underline;
}
.carticon{
  position:fixed;
  right:0;
  top: 0.2cm;
}
