.list{
  margin-inline: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.list a{
  font: 25px Arial;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  text-decoration: none;
}
.list a:hover, a.active{
  color:rgb(16, 214, 244);
  text-decoration: underline;
}
/* .carticon{
  position:fixed;
  right:0;
  top: 0.2cm;
} */
