.text {
  font-family: Georgia;
  color: white;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}
.home .home-text .text-mlr {
 margin-left: 430px;
 margin-right: 20px;
}
.store .store-text .text-mr{
  margin-right: 20px;
}
/* margin-left: 400px;
margin-right: 50px; */
